body {

 

width: 100% !important;
height: 100% !important;
    background-image: url(/img/login/background.gif);
    background-size: 100%;
        background-size: 1000px;
overflow-x: hidden;

}

.containerCalculator {

  
    
}

